/* App.css */

.navbar {
  display: flex;
  align-items: center;
  background-color: #a99f9f;
  padding: 10px 20px;
}

.navbar a {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-right: auto;
}

.navbar input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.post-button, .auth-button {
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.post-button {
  background-color: #4a3cb6;
}

.auth-button {
  background-color: #0000ff;
}

.auth-button:hover {
  background-color: #0000d1;
}
